.App {
  text-align: center;
}


.city {
  color: red;
  background-color: violet;
  margin-bottom: 5px;

}
.state {
  color: orange;
  background-color: indigo;
  margin-bottom: 5px;
}
.temp {
  color: yellow;
  background-color: blue;
  margin-bottom: 3px;
}
.pres {
 background-color: green;
 margin-bottom: 3px;
}
.humid{
  background-color: yellow;
  margin-bottom: 3px;
}
.timezone {
  background-color: orange;
  margin-bottom: 3px;
}
.last{
  background-color: red;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.parent {
  width: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.child {
      transform: preserve-3d;
      width: 35rem;
      min-height: 80vh;
      border-radius: 30px;
      background-color: aqua;
      display:flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
}
.grandchild {
      height: 75vh;
      width:30rem;
      border-radius: 30px;
      background: linear-gradient(to right,
      red,rgb(4, 4, 53));
      display: flex;
      align-items: center;
      justify-content: center;
}
.great1 {
  height: 60vh;
  width:28rem;
  border-radius: 20px;
  background-color: beige;
  display: flex;
  align-items: center;
      justify-content: center;
      flex-direction: column;
      align-content: space-around;
}